@charset "UTF-8";

/********* public:prefix_menu.less ********/
.menuTrigger.menuTrigger--prefix{text-decoration:none}.menuPrefix,.menuPrefix.label--hidden{display:block;font-size:13px;cursor:default;padding:12px}.menuPrefix.label--hidden,.menuPrefix.label--hidden.label--hidden{border:1px solid #edf0f5}.menuPrefix.menuPrefix--none,.menuPrefix.label--hidden.menuPrefix--none{color:#9199ad;text-decoration:none}